{% extends "plan_visualiser_django/pv_base.html" %}

{% block page_heading %}Manage Plans{% endblock %}

{% block main_content %}

<button type="button" class="btn btn-primary" onclick="location.href='add-plan'">Add Plan File</button>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>File Type</th>
        </tr>
    </thead>
    <tbody>
    {% for plan in plan_files %}
        <tr>
            <td><a href="manage-visuals/{{ plan.id }}">{{ plan.original_file_name }}</a></td>
            <td>{{ plan.file_type }}</td>
            <td><a href="delete-plan/{{ plan.id }}" class="badge bg-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}